/* Colors im using
dark-light
#0D1282
EEEDED
F0DE36
D71313
*/

/* typography  */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.75rem;
}

.site-main {
    /* background-image: url("../images/cherry.jpg"); */
    background-color: #EEEDED;
}

/* logo and navs */
.Iconandnavs {
    display: flex;

}

.Iconandnavs a{
    margin: 0 auto;
}

a,
a:visited {
    color: #D71313;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;

}

a:hover,
a:focus,
a:active {
    text-decoration: underline;
    color: #D71313;

}

a:focus {
    outline: 1px dotted;
}
.header-menu{
    border-top: 1px solid black;
}
.site-navigation{
    position: fixed;
    bottom: 0;
    z-index: 100;
    background: white;
    width: 100%;
   
}
.site-navigation ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    margin: 0;
    font-size: 1rem;
}

.site-navigation a {
    padding: 10px;
    border-radius: 6px;
    font-family: "Noto Sans", sans-serif;
}


.header-menu ul{
justify-content: space-around;
padding: 2rem;
}
/* video and pictures with heading 1 */

#intro h1 {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
    margin: 0;
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
}

#intro video {
    display: block;
    object-fit: cover;
    margin: 0 auto;
}

#intro img {
    display: block;
    object-fit: cover;
    height: 20rem;
    width: 100%;
    
}

/* body */
h2 {
    text-align: center;

}

.site-main {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.box {

    max-width: 25rem;
    
    color: black;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem 3rem;
    
    margin: 0;
    

}

.box p {
    text-align: center;
    padding-bottom: 2rem;
    font-family: "Noto Sans", sans-serif;
}

article img {
    display: block;
    max-width: 100%;
    height: 20rem;
    object-fit: cover;
    margin: 0 auto;
    object-position: center center;
}

p {
    font-size: 1rem;
    padding-top: 2rem;
}

.ontop {
    padding-top: 2rem;
    font-size: 1.5rem;
}

.subtopic {
    border-top: 1px solid black;
    padding: 1rem;
    font-family: "Merriweather", serif;
    font-size: 1.5rem;
}
.resize{
    width: 21.7rem;
}
/* footer */
.site-footer{
    background-color: #EEEDED;
    font-size: 0.5rem;
    text-align: center;
    margin-top: 0;
    padding-top: 0;
    margin: 0;
}
.site-footer p {
    margin: 0;
    padding-bottom: 6rem;
    
}
/* credits */

.table-style{
    padding-top: 4rem;
    margin: auto;
    
    border-collapse: collapse;
    
}
tr{
    margin-bottom: 3rem;
    
}
td{
    text-align: center;
    border: 1px solid #D71313;
    padding: 2rem;
    
}

tr:nth-child(even){
    color: lightcoral;
}

tr:nth-child(odd){
    color: lightblue;
}
/* forms help from w3schools */

input[type=text], select{
    width: 100%;
    padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

input[type=submit] {
    width: 100%;
    background-color: lightcyan;
    color: black;
    padding: 14px 20px;
    margin: .5rem 0;
    border: none;
    
    
  }
.form-p{
    text-align: center;
    font-size: 1.3rem;
}

.form-id{
    border-radius: 2rem;
    padding: 5rem;
    margin : 1rem 1rem ;
    background-color: aquamarine;
}
@media (min-width: 50em){

    #intro video {
        display: block;
        object-fit: cover;
        margin: 0 auto;
        height: 40rem;
    }
    #intro img {
       
        height: 30rem;
       
        
    }
    
    #intro h1 {
        position: absolute;
        top: 40%;
        font-size: 4rem;
    }
    
    .introto{
        display: grid;
        grid-template-columns: 20rem 20rem 20rem;
        grid-template-rows: auto;
        gap: 2rem;
        justify-content: center;
        padding: 1rem 0;
    }
   article img{
    width: 100%;
   }
   article p {
    font-size: 1.3rem;
    font-family: "Noto Sans", sans-serif;
   }
   .ontop{
    font-size: 1.7rem;
    font-family: "Kanit", sans-serif;
   }
   .site-navigation{
    position: relative;
   }
    .site-navigation ul {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        padding-top: 3.125rem;
        margin: 0;
        font-size: 1rem;
    }
    
    .site-navigation a {
        padding: 10px;
        border-radius: 6px;
        font-family: "Noto Sans", sans-serif;
    }
    
    .site-navigation li {
        padding-right: 20px;
    }
    .resize{
        width: 60rem;
    }
    .anotherlayout h2{
        text-align: center;
        font-size: 2rem;
    }
    .anotherlayout .box{
        display: flex;
        justify-content: space-between;
    }
    input[type=text], select{
    width: 70%;
    padding: 1rem;
      margin-bottom: 1rem;
      display: block;
      border: 1px solid #ccc;
      border-radius: 2rem;
      box-sizing: border-box;
      margin: 2rem auto;
    
    }
    
    input[type=submit] {
        width: 50%;
        background-color: lightcyan;
        color: black;
        margin: .5rem 0;
        border: none;
        display: block;
        margin: 1rem auto;
        border-radius: 2rem;
        
        
      }
    .form-p{
        text-align: center;
        font-size: 1.3rem;
        margin-bottom: 1rem;
        font-family: "Noto Sans", sans-serif;
        
    }
    
    .form-id {
        border-radius: 50%;
        width: 40rem;
        height: 40rem;
        padding: 3rem  ;
        margin: 5rem auto;
        background-color: aquamarine;
       
}

    .form-id form{
        text-align: center;
        margin-top: 2rem;
    }
   .site-footer p {
    padding: 0;
    padding-bottom: 2rem;
   }
}